.theme {
    background: black;
    /*background: #131222;*/
    /*background: #1C2030;*/
    color: white;
}

.panes {
    display: flex;
}

.modal {
    background: black;
    height: 100%;
    width: 100%;
    position: absolute;
}

.top-button {
    position: absolute;
    z-index: 100;
}

.hide {
    display: none;
}
.show {
    display: inherit;
}

.mainDiv {
    /*text-align: center;*/
}
.pad-it{
    padding: 20% 50% 0 50%;
}
.text-align-center{
    text-align: center;
}
.static-modal {
    color: black;
}