.theme {
    /*background: black;*/
    /*background: #131222;*/
    /*background: #1C2030;*/
    /*color: white;*/
}

.panes {
    display: flex;
}

.react-stockchart {
    /*background: cyan;*/
    /*border: 1px solid black;*/
}

.modal {
    background: black;
    height: 100%;
    width: 100%;
    position: absolute;
}

.top-button {
    position: absolute;
    z-index: 100;
}

.hide {
    display: none;
}
.show {
    display: inherit;
}