.theme {
    /*background: black;*/
    /*background: #131222;*/
    /*background: #1C2030;*/
    /*color: white;*/
}

.panes {
    display: flex;
}

.react-stockchart {
    /*background: cyan;*/
    /*border: 1px solid black;*/
}

.Modal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: papayawhip;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rebeccapurple;
}